/* General styles */

body {
    font-family: Roboto, Helvetica, Arial;
    font-size: .9em;
    color: #333;
    margin: 0;
}
header {
    width: 100%;
    height: 90px;
    background-color: #5799db;
    clear: both;
}
.livechart {
    float: left;
}
.ediTable {
    float: right;
    margin: 30px 30px 60px 0px;
    font-family: Roboto, Helvetica, Arial;
    font-size: 1.1em;
    border-spacing: 0px;
}
footer {
    height: 30px;
    background-color: #5799db;
    width: 100%;
    position: fixed;
    bottom: 0px;
}
/* Typography */

h1 {
    font-family: Roboto, Helvetica, Arial;
    line-height: 60px;
    vertical-align: middle;
    font-size: 3.4em;
    text-align: center;
    margin: 0 0 0 0;
    color: #fff;
    font-weight: 500;
}
h3 {
    font-family: Roboto, Helvetica, Arial;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}
#twitter {
    color: #fff;
    text-decoration: none;
}
.copyright {
    text-align: right;
    line-height: 3px;
    color: #fff;
    font-family: Roboto, Helvetica, Arial;
    padding-right: 15px;
}
/* Table design */

.ediTable td {
    padding: 6px 6px 6px 6px;
}
.ediTable th {
    font-size: 1.1em;
    padding: 6px 2px 6px 2px;
    font-weight: 400;
}
.ediTable tr {
    margin-bottom: .5em;
}
tbody tr:nth-child(odd) {
    background-color: #eee;
}
tbody tr:nth-child(even) {
    background-color: #ccc;
}
thead tr {
    background-color: #5799db;
    color: #fff;
}
thead tr th:first-child {
    border-top-left-radius: 8px;
    padding-left: 6px;
}
thead tr th:last-child {
    border-top-right-radius: 8px;
    padding-right: 6px;
}
tbody tr:last-child {
    /* change the text color of the "add a new row" row */
    color: #999;
}
tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}
tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}
.epic {
    width: 30%;
    text-align: left;
}
.value {
    width: 4%;
    text-align: center;
}
thead tr th:nth-child(2):before {
    content: "Urgency";
}
thead tr th:nth-child(3):before {
    content: "Importance";
}
thead tr th:nth-child(4):before {
    content: "Size";
}
/* SVG styles */

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.dot {
    stroke: #000;
}
.axis .domain {
    stroke: #666;
}
.divider .domain {
    stroke: #666;
    fill: none;
}
/* Widget styles */

.tooltip {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100px;
    padding: 5px;
    font-family: Roboto, Helvetica, Arial;
    font-size: 14px;
    background: rgba(87, 153, 219, 0.71);
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}
/* Button styles */

#clear {
    clear: left;
}
#clear,
#save {
    float: left;
    width: 96px;
    height: 48px;
    margin: 10px 30px 60px 134px;
    text-align: center;
    line-height: 48px;
    border-radius: 8px;
    font-family: Roboto, Helvetica, Arial;
    font-size: 1.2em;
    background-color: #5799db;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
/* Media Queries have to come last */

@media screen and (max-width: 1260px) {
    .ediTable {
        font-size: 1em;
    }
    .value {
        width: 3%;
        text-align: center;
    }
    .ediTable td {
        padding: 6px 3px 6px 3px;
    }
    .ediTable th {
        padding: 6px 3px 6px 3px;
    }
    tbody tr td:first-child {
        padding-left: 6px;
    }
}
@media screen and (max-width: 1100px) {
    .ediTable {
        font-size: .9em;
    }
    .value {
        width: 2%;
        text-align: center;
    }
    .ediTable td {
        padding: 6px 0px 6px 0px;
    }
    .ediTable th {
        padding: 6px 0px 6px 0px;
    }
    tbody tr td:first-child {
        padding-left: 6px;
    }
    thead tr th:nth-child(2):before {
        content: "U";
    }
    thead tr th:nth-child(3):before {
        content: "I";
    }
    thead tr th:nth-child(4):before {
        content: "S";
    }
    thead tr th:last-child {
        border-top-right-radius: 8px;
        padding-right: 6px;
    }
}
@media screen and (max-width: 900px) {
    .ediTable {
        float: none;
        margin: 0px auto;
        padding-top: 15px;
        font-size: 1.1em;
    }
    #clear {
        float: left;
        margin: 30px 0 60px 26%;
    }
    #save {
        float: right;
        margin: 30px 26% 60px 0;
    }
    .tooltip {
        font-size: 12px;
    }
}
@media screen and (max-width: 600px) {
    #clear {
        float: left;
        margin: 30px 0 60px 19%;
    }
    #save {
        float: right;
        margin: 30px 19% 60px 0;
    }
    .ediTable {
        font-size: .9em;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 2.4em;
        line-height: 40px;
    }
    h3 {
        font-size: 1em;
    }
    header {
        height: 70px;
    }
}